# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
.vercel/
.next/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Database files
*.sqlite
*.sqlite3
*.db
*.db-shm
*.db-wal

# Temporary files
tmp/
temp/
uploads/

# Local Netlify folder
.netlify